
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <!-- The time line -->
        <div class="timeline" id="reqSend" hidden>
            <div class="time-label">
                <span class="bg-red">
                    <label id="lblReqDate"></label>
                </span>
            </div>

            <div>
                <i class="fas fa-envelope bg-blue"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fas fa-clock"></i><label id="lblReqTime"></label></span>
                    <h3 class="timeline-header"><b id="lblCreatedBy"></b> mengajukan pengajuan aset dengan nomor <b id="lblReqNo"></b> </h3>

                    <div class="timeline-body">
                        <div class="card card-primary collapsed-card" id="addRequest">
                            <div class="card-header">
                                <h3 class="card-title">Detail Pengajuan Aset</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-plus"></i> Klik Disini
                                    </button>
                                </div>
                                <!-- /.card-tools -->
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12">
                                        <div class="info-box">
                                            <div class="info-box-content">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>Nik</label>
                                                            <input type="text" class="form-control" id="txtNik" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>Nama</label>
                                                            <input type="text" class="form-control" id="txtNama" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>Jabatan</label>
                                                            <input type="text" class="form-control" id="txtJabatan" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>Note Pengajuan</label>
                                                            <input type="text" class="form-control" id="txtReqRemark" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>Jenis Aset</label>
                                                            <input type="text" class="form-control" id="txtTipe" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>Kepemilikan Aset</label>
                                                            <input type="text" class="form-control" id="txtOwning" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <label>Detail Spesifikasi</label>
                                                            <textarea class="form-control" id="txtReqSpec" disabled></textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-sm-12">
                                            <div class="info-box">
                                                <div class="info-box-content">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <label>Struktur Organisasi</label>&nbsp;&nbsp;&nbsp;<span class="badge" id="badgeSo"></span>
                                                                <iframe id="iSo" style="width: 100%;" height="720" hidden></iframe>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <label>Jobdesc</label>&nbsp;&nbsp;&nbsp;<span class="badge" id="badgeJobdesc"></span>
                                                                <iframe id="iJobdesc" style="width: 100%;" height="720" hidden></iframe>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <label>BA diluar budget (bila ada)</label>&nbsp;&nbsp;&nbsp;<span class="badge" id="badgeBudget"></span>
                                                                <iframe id="iBudget" style="width: 100%;" height="720" hidden></iframe>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-footer">

                    </div>
                </div>
            </div>
            <!-- END timeline item -->

            <div>
                <i class="fas fa-clock bg-gray"></i>
            </div>
        </div>
        <div class="timeline">
            <!-- timeline time label -->
            <div class="time-label">
                <span class="bg-red">10 Feb. 2014</span>
            </div>
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <div>
                <i class="fas fa-envelope bg-blue"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fas fa-clock"></i> 12:05</span>
                    <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>

                    <div class="timeline-body">
                        Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                        weebly ning heekya handango imeem plugg dopplr jibjab, movity
                        jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                        quora plaxo ideeli hulu weebly balihoo...
                    </div>
                    <div class="timeline-footer">
                        <a class="btn btn-primary btn-sm">Read more</a>
                        <a class="btn btn-danger btn-sm">Delete</a>
                    </div>
                </div>
            </div>
            <!-- END timeline item -->
            <!-- timeline item -->
        </div>
    </div>
    <!-- /.col -->
</div>

<script src="~/Scripts/page/itsm.treqdetail.js"></script>