
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="card card-primary collapsed-card" id="addType">
            <div class="card-header">
                <h3 class="card-title">Form Registrasi Tipe Aset</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-plus"></i> Klik Disini
                    </button>
                </div>
                <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-lg-4 col-sm-12">
                            <div class="form-group">
                                <label>Kode Tipe Asset</label>
                                <input type="text" class="form-control" id="txtId">
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="form-group">
                                <label>Nama Tipe Aset</label>
                                <input type="text" class="form-control" id="txtType">
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="form-group" style="padding-top:30px;">
                                <button type="button" class="btn btn-info" id="btnSave">Simpan</button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" class="btn btn-danger" id="btnCancel">Batal</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Data Tipe Aset</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="tblTipe" class="table table-responsive table-bordered table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>Kode Tipe</th>
                            <th>Tipe Aset</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
<script src="~/Scripts/page/itsm.rtipeaset.js"></script>